@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;500;600;700&display=swap');

.app {
  font-family: Titillium Web;
  overflow: hidden;
}
.app__background {
  position: absolute;

  background: url('../img/background.jpg') no-repeat center / cover;
  background-attachment: fixed;

  filter: grayscale(.3);

  width: 100%;
  height: 100%;

  z-index: -5;
}
@keyframes color {
  20% {
    color: #b1dcff;
  }
  40% {
    color: #bdffb1;
  }
  60% {
    color: #fffeb1;
  }
  80% {
    color: #ffb1b1;
  }
  100% {
    color: #e0b1ff;
  }
}
@keyframes color-nav {
  20% {
    color: #b1dcff;
    border-bottom: 3px solid #b1dcff;
  }
  40% {
    color: #bdffb1;
    border-bottom: 3px solid #bdffb1;
  }
  60% {
    color: #fffeb1;
    border-bottom: 3px solid #fffeb1;
  }
  80% {
    color: #ffb1b1;
    border-bottom: 3px solid #ffb1b1;
  }
  100% {
    color: #e0b1ff;
    border-bottom: 3px solid #e0b1ff;
  }
}